<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link href="~/bootstrap-4.4.1-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap-4.4.1-dist/css/bootstrap-grid.css" rel="stylesheet" />







    <title>@ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/Images/Favicon/FungiFaviconTeal.ico")" />
    @RenderSection("styles", false)

</head>
<body style="background-color: gray;">
    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: teal">

            <a asp-controller="Functions" asp-action="Main" class="navbar-brand">
                <img src="~/Images/Logos/TranspIcon.png" style="height: 40px;" />
            </a>
            @* Button below is only visible on mobile devices/when browser width is < 1000px*@
            <button type="button" value="DropdownList" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse clearfix" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a asp-controller="Functions" asp-action="Library" class="nav-item nav-link">Fungipedia</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#profileDrop" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">@User.Identity.Name</a>
                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdownMenuLink" id="profileDrop">
                            <a asp-controller="Account" asp-action="Profile" class="dropdown-item ">Gå till min profil</a>
                            <a asp-controller="Functions" asp-action="MapLocation" class="dropdown-item">Svampställen</a>
                            <a asp-controller="Account" asp-action="Logout" class="dropdown-item ">Logga Ut</a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>
    }
    else
    {
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: teal; height: 65px;">
            <a href="" class="navbar-brand" style="pointer-events: none; cursor: default">Fungi Finder</a>
            <button type="button" value="Hem" class="navbar-toggler" data-toggle="collapse" data-target="#navBarMarkup" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navBarMarkup">
            </div>
        </nav>
    }
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>*@
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>*@
</body>
</html>
