@model FunctionLibraryResultPartialVM[];

@foreach (var shroom in @Model)
{
    <br />
    <div class="card mb-3 container-fluid align-self-center" style="max-width: 1920px; margin-left: 0px; border:none">
        <div class="row no-gutters row justify-content-center">
            <div class="col-md-3">
                <img src="~/Images/@shroom.ImgUrl" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@shroom.Name</h5>
                    <h6 class="card-subtitle"> @shroom.LatinName</h6>
                    <br />
                    @if (@shroom.Edible)
                    {
                        <div>
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i < @shroom.Rating)
                                {
                                    <img src="~/Images/Logos/TranspIconBlack.png" style="height: 30px" />
                                }
                                else
                                {
                                    <img src="~/Images/Logos/TranspIconGrey.png" style="height: 30px" />
                                }

                            }
                        </div>
                    }
                    @if (@shroom.Edible == false)
                    {
                        <p><img src="~/Images/Logos/PoisionIcon.png" style="height: 35px" />  Svampen är giftig!  </p>

                    }
                    <br />
                    <p class="card-text">@shroom.Info</p>

                </div>
            </div>
        </div>
    </div>
}