@model FunctionMapVM[]
@*@model FunctionsMapLocationsVM[]*@

@section styles{
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. hääääääääääääj */
        #map {
            height: 500px;
            width: 900px;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #floating-panel {
            position: absolute;
            top: 10px;
            left: 25%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }
    </style>
    <link href="~/css/MapLocation.css" rel="stylesheet" />
}
<br />
<br />

<div class="container-fluid align-self-center">
    <div class="row justify-content-center align-self-center">
        <div id="map" class="row justify-content-center align-self-center img-thumbnail"></div>
    </div>
</div>

<br />

<div class="container-fluid align-self-center">
    <div class="row justify-content-center align-self-center">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 h-100">
            <input class="form-control my-0 py-1 align-content-center" type="text" id="locationName" placeholder="Namn på nya svampstället.." aria-label="Search" />
        </div>
        <div class="form-group">
            <button onclick="getCor();" class="btn btn-info btn-lg btn-block border-dark">Spara Nuvaranda Svampställe</button>
        </div>
        <div class="form-group">
            <button onclick="clearMarkers();" class="btn btn-info btn-lg btn-block border-dark">Göm Svampställen</button>
        </div>
        <div class="form-group">
            <button onclick="showMarkers();" class="btn btn-info btn-lg btn-block border-dark">Visa Svampställen</button>
        </div>
        @*<div class="form-group">
            <button onclick="deleteMarkers();" class="btn btn-info btn-lg btn-block border-dark">Ta Bort Svampställen</button>
        </div>*@
    </div>
</div>
<br />




@section scripts{
    <script>
        var map, infoWindow;
        var markers = [];
        var pos;
        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';


        function initMap() {

            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 62.0236528, lng: 15.119680 },
                zoom: 6,
            });

            infoWindow = new google.maps.InfoWindow;


            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                        pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Du är här.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                    map.setZoom(15);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }


            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }

            // This event listener will call addMarker() when the map is clicked.
            //map.addListener('click', function (event) {
            //    addMarker(event.latLng);
            //    //console.log(event.latLng);
            //});
        }

        function getCoordinates() {

            console.log(pos.lat);
            console.log(pos.lng);
            nameLocation = $("#nameLocation").val();

            $.ajax({

                type: "POST",
                url: "/Map/longlat",
                contentType: "application/json",
                //dataType: 'json',
                data: JSON.stringify({ locationName: nameLocation, latitude: pos.lat, longitude: pos.lng}),

                success: function (response) {
                    alert('Svampställe sparat');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }

            });
        }

        function getCor() {
            var locationName = $("#locationName").val();
            console.log(locationName);
            if (locationName == "" || locationName == null) {
                searchQuery = "Jag var tydligen för lat för att namnge mitt nya svampställe.."
            }
            console.log(pos.lng);
            console.log(pos.lat);

            var url = `MapTest/${locationName},${pos.lng},${pos.lat}`
            $.ajax({
                url: url,
                type: "POST",
            });
        }


        // Adds a marker to the map and push to the array.
        function addMarker(lng, lat, locationName) {
            var location = {lat: lat, lng: lng}

            var marker = new google.maps.Marker({
                position: location,
                map: map,
                label: locationName
            });
            markers.push(marker);

        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
            setMapOnAll(null);
        }

        // Shows any markers currently in the array.
        function showMarkers() {
            @foreach (var item in Model)
            {
                @*<text>addMarker({lat: @item.Latitude, lng: @item.Longitude}),</text>*@
                <text>addMarker(@item.Longitude, @item.Latitude, '@item.LocationName'),</text>
            }

            setMapOnAll(map);

        }

        //// Deletes all markers in the array by removing references to them.
        //function deleteMarkers() {
        //    clearMarkers();
        //    markers = [];
        //}

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb6PsUEvawrKCwb3qG6myykc9ORaMX83c&callback=initMap"></script>



}

