@model AccountProfileVM



@{
    ViewBag.Title = "Profile";
    ViewData["Title"] = "Fungi Profile";
}

@section scripts{
    <script src="~/js/profile.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script>
        $('#profileMenu').on("click.bs.dropdown", function (e) {
            e.stopPropagation();
            e.preventDefault();
        });
    </script>
}
@section styles{
    <link href="~/css/Profile.css" rel="stylesheet" />

    <style>
        #profileMenu {
            width: 100% !important;
            /*height: 600px !important;*/
        }
    </style>
}

@*<h4>@User.Identity.Name's profil</h4>*@
<div class="float-right" style="padding-right: 50px;" name="settings">
    <div class="btn-group">
        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            Inställningar
        </button>
        <div class="dropdown-menu" id="profileMenu" style="min-width: 11rem; background-color: rgb(255, 255, 255, 0.75);">
            <button type="button" class="dropdown-item" id="editEmail" onclick="editEmail()">Ändra e-post</button>
            <button type="button" class="dropdown-item" id="editPassword" onclick="editPassword()">Ändra lösenord</button>
            <button type="button" class="dropdown-item" id="editFavMushroom" onclick="editFavMushroom()" style="">Ändra favoritsvamp</button>
            <div class="dropdown-header"></div>
            <div class="dropdown-item-text" id="pwPartial"></div>
            <div class="dropdown-header"></div>
            <div class="dropdown-item-text" id="emailPartial"></div>
            <div class="dropdown-header"></div>
            <div class="dropdown-item-text" id="favMushPartial"></div>
        </div>
    </div>
</div>


<div class="container emp-profile" style="padding-bottom: 150px; background-color: rgb(255, 255, 255, 0.75)">

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="profile-img">
                <img id="profilePic" src="~/Images/UserPics/@Model.UrlProfilePicture" />
                <div class="file btn btn-lg btn-primary">
                    Byt Profilbild
                    <input type="file" id="picture" onchange="changeProfilePic('picture')" />
                </div>
                <div id="pictureErrorHere" class="text-danger"></div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="profile-head">

                <h6>
                    @Model.Username
                </h6>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#latestSearches" role="tab" aria-controls="latestSearches" aria-selected="false">Senaste sökningar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="location-tab" data-toggle="tab" href="#locations" role="tab" aria-controls="locations" aria-selected="false">Svampställen</a>
                    </li>
                </ul>

            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-8 col-sm-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Email"></label>
                        </div>
                        <div class="col-md-6">
                            <p id="emailHere">@Model.Email</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="FavouriteMushroom"></label>
                        </div>
                        <div class="col-md-6">
                            <p id="mushroomHere">@Model.FavouriteMushroom</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-2"></div>
                <div class="tab-pane fade" id="latestSearches" role="tabpanel" aria-labelledby="profile-tab">
                    @foreach (var item in Model.LatestSearches)
                    {
                        <hr />
                        <div class="row">
                            <div class="col-md-8">
                                <img class="img-thumbnail" src="~/Images/@item.ImageUrl" style="height: 50px;" />
                            </div>
                            <div class="col-md-6">
                                <label>@item.Mushroom</label>
                                <p>@item.SearchDate</p>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    }

                </div>

                @*testing*@
                <div class="tab-pane fade" id="locations" role="tabpanel" aria-labelledby="location-tab">
                    <div class="row">
                        <div class="col-md-8">
                            @*<label class="control-label"></label>*@
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Byt namn på dina svampställen:
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Locations)
                            {
                                <tr id="@($"trToRemove{item.Id}")">
                                    <td>
                                        <p>@item.LocationName</p>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" id="@item.Id" value="@item.LocationName"/>
                                    </td>
                                    <td>
                                        <form>
                                            <input class="btn btn-info" type="button" value="Spara" onclick="changeLocationName('@item.Id')" />
                                        </form>
                                    </td>
                                    <td>
                                        <input class="btn btn-danger" type="button" value="X" onclick="deleteLocation('@item.Id', @($"trToRemove{item.Id}")" />
                                    </td>
                                </tr>

                                @*<hr />*@
                                @*<div class="row">*@

                                @*<div class="row">*@
                                @*<div class="col-md-6">*@
                                @*<label>@item.LocationName</label>*@
                                @*</div>*@
                                @*<div class="col-md-6">*@
                                @*<label asp-for="@item.LocationName" class="control-label"></label>*@
                                @*<input asp-for="@item.LocationName" class="form-control" />
                                    <span asp-validation-for="@item.LocationName" class="text-danger"></span>
                                    <input type="submit" value="Save" class="btn btn-primary" />*@
                                @*</div>*@
                                @*</div>*@

                                @*</div>*@
                            }
                        </tbody>
                    </table>
                    <div class="form-group">
                    </div>


                    @*slut test*@

                </div>
            </div>
        </div>

    </div>
</div>
