@model AccountProfileVM



@{
    ViewBag.Title = "Profile";
    ViewData["Title"] = "Fungi Profile";
}

@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="~/js/profile.js"></script>
    <script src="~/bootstrap-4.4.1-dist/js/bootstrap.js"></script>
    <script>
        $('#profileMenu').on("click.bs.dropdown", function (e) {
            e.stopPropagation();
            e.preventDefault();
        });
    </script>
}
@section styles{
    <link href="~/css/Profile.css" rel="stylesheet" />

    <style>
        #profileMenu {
            width: 100% !important;
            /*height: 600px !important;*/
        }
    </style>
}

@*<h4>@User.Identity.Name's profil</h4>*@
<div class="float-right" style="padding-right: 50px;" name="settings">
    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Inställningar
        </button>
        <div class="dropdown-menu" id="profileMenu" aria-labelledby="dropdownMenuButton" style="min-width: 11rem;">
            <button type="button" class="dropdown-item" id="editPassword" onclick="editPassword()">Ändra lösenord</button>
            <button type="button" class="dropdown-item" id="editEmail" onclick="editEmail()">Ändra E-post</button>
            <button type="button" class="dropdown-item" id="editFavMushroom" onclick="editFavMushroom()" style="">Ändra favoritsvamp</button>
            <div class="dropdown-header"></div>
            <div class="dropdown-item-text" id="pwPartial"></div>
            <div class="dropdown-header"></div>
            <div class="dropdown-item-text" id="emailPartial"></div>
            <div class="dropdown-header"></div>
            <div class="dropdown-item-text" id="favMushPartial"></div>
        </div>
    </div>
</div>

<div class="container emp-profile" style="padding-bottom: 200px;">

    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img id="profilePic" src="~/Images/UserPics/@Model.UrlProfilePicture" />
                <div class="file btn btn-lg btn-primary">
                    Change Photo
                    <input type="file" id="picture" onchange="changeProfilePic('picture')" />
                </div>
                <div id="pictureErrorHere" class="text-danger"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                </h5>
                <h6>
                    @Model.Username
                </h6>

                <ul class="nav nav-tabs" id="myTab" role="tabpanel">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#about" role="tab" aria-controls="home" aria-selected="true">Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#latestSearches" role="tab" aria-controls="profile" aria-selected="false">Senaste sökningar</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Email"></label>
                        </div>
                        <div class="col-md-6">
                            <p id="emailHere">@Model.Email</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="FavouriteMushroom"></label>
                        </div>
                        <div class="col-md-6">
                            <p id="mushroomHere">@Model.FavouriteMushroom</p>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="latestSearches" role="tabpanel" aria-labelledby="profile-tab">
                    @foreach (var item in Model.LatestSearches)
                    {
                        <hr />
                        <div class="row">
                            <div class="col-md-8">
                                <img class="img-thumbnail" src="~/Images/@item.ImageUrl" style="height: 50px;" />
                            </div>
                            <div class="col-md-6">
                                <label>@item.Mushroom</label>
                                <p>@item.SearchDate</p>
                            </div>
                            <div class="col-md-6">
                                @*<p>@item.SearchDate</p>*@
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

</div>