@model AccountProfileVM



@{
    ViewData["Title"] = "Profile";
    ViewBag.Title = "Profil";

}

@section scripts{
    <script src="~/js/profile.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
}
@section styles{
    <link href="~/css/Profile.css" rel="stylesheet" />
}

<h4>@User.Identity.Name's profil</h4>
<hr />


<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />
                <div class="file btn btn-lg btn-primary">
                    Change Photo
                    <input type="file" name="file" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        @Model.Username
                    </h5>
                    <h6>
                        @Model.Email
                    </h6>


                    <label asp-for="Username" class="control-label"></label>
                    <p>@Model.Username</p>



                    <label asp-for="Email" class="control-label"></label>
                    <p>@Model.Email</p>
                    <button id="editEmail" onclick="editInfo('email', 'emailPartial')">Ändra E-post</button><div id="emailPartial"></div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <button id="editPassword" onclick="editInfo('password', 'pwPartial')">Ändra lösenord</button><div class="form-group" id="pwPartial"></div>

            </div>
        </div>
    </div>
</div>
    
<div>
    <a asp-action="Index">Back to start</a>
</div>

